<section class="center">
  <h2 class="center">2. What: Our Vision for TidalSim</h2>
  <p class="center fragment"><strong>What if</strong> we had a tool that could:</p>

  <ul>
    <li class="fragment">rapid and accurate perf evaluation and microarhitecture profiling enabling DSE and optimization</li>
    <li class="fragment">automatic benchmark extraction</li>
    <li class="fragment">RTL-level collateral to leverage for power and verification</li>
  </ul>
</section>

<section>
  <h2>What: TidalSim</h2>
  <p>How does this tool address the challenges we posed in the Why section?</p>
  <p>TODO add main diagram</p>
</section>

<section>
  <h2>Scope of Thesis</h2>
  <p>Expected results</p>
</section>

<section data-visibility="hidden">
  <h2>Problem Overview</h2>

  <p class="center fragment">Fast RTL-level μArch simulation and performance metric / interesting trace extraction</p>
  <p class="center fragment"><em><strong>enables</strong></em></p>
  <p class="center fragment">Rapid RTL iteration with performance, power modeling, and verification evaluation on real workloads</p>
  <hr class="fragment">
  <p class="center fragment">How can we achieve high throughput, high fidelity, low latency μArch simulation with RTL-level interesting trace extraction?</p>
</section>
