<section class="center">
  <h2 class="center">2. What: Our Vision for TidalSim</h2>
  <p class="center fragment"><strong>What if</strong> we had a simulator that:</p>

  <ol>
    <li class="fragment">Is <strong>fast</strong> enough to run real workloads on heterogeneous SoCs</li>
    <li class="fragment">Is <strong>accurate</strong> enough to use confidently for microarchitectural DSE</li>
    <li class="fragment">Has <strong>low latency</strong> to not bottleneck the hardware iteration loop</li>
    <li class="fragment">Can produce <strong>RTL-level collateral</strong> for applications from power modeling to application-level profiling to verification
      <ul style="font-size: 1.4rem;"><li class="fragment">Can automatically <strong>isolate and extract benchmarks</strong> from long workloads by identifying unique aspects with respect to power, performance, and functionality</li></ul>
    </li>
  </ol>
</section>

<section>
  <h2>What: TidalSim</h2>
  <!-- How does this tool address the challenges we posed in the Why section? -->

  <div class="center">
    <img src="./figs/dynamic/tidalsim/uarch_iteration_flow_tidalsim.svg" />
    <figcaption class="small center"><strong>TidalSim</strong>: a fast, accurate, low latency, low cost microarchitectural simulator that produces RTL-level collateral for performance and power estimation and verification on real workloads.</figcaption>
  </div>
</section>

<section>
  <h2>Scope of Thesis</h2>

  <div class="center">
    <img width="50%" src="./figs/dynamic/tidalsim/uarch_iteration_flow_tidalsim.svg" />
  </div>

  <ol>
    <li class="fragment">Implementation of TidalSim</li>
    <li class="fragment">Evaluation of TidalSim for performance and power estimation on large workloads
    <ul style="font-size: 1.4rem;"><li>Embench, GAP, SPEC, HyperProtoBench, MLPerf, CloudSuite</li></ul>
    </li>
    <li class="fragment">Case studies for hardware DSE, power macromodel training, and coverpoint synthesis</li>
  </ol>
</section>

<section data-visibility="hidden">
  <h2>Problem Overview</h2>

  <p class="center fragment">Fast RTL-level μArch simulation and performance metric / interesting trace extraction</p>
  <p class="center fragment"><em><strong>enables</strong></em></p>
  <p class="center fragment">Rapid RTL iteration with performance, power modeling, and verification evaluation on real workloads</p>
  <hr class="fragment">
  <p class="center fragment">How can we achieve high throughput, high fidelity, low latency μArch simulation with RTL-level interesting trace extraction?</p>
</section>

<section data-visibility="hidden">
  <h2>Motivation</h2>

  <ul>
    <li class="fragment">We want fast design iteration and evaluation of PPA + verification given real workloads
    <!--Fast design iteration and evaluation of PPA + verification requires stimulus that's representative and comprehensive wrt real workloads (execution fragments)-->
    </li>
    <li class="fragment">The enablers are: <em>fast and accurate μArch simulation</em> and a way to identify <em>unique execution fragments</em>
      <ul>
        <li class="fragment"><em>Performance estimation:</em> Performance metric extraction from fast RTL simulation</li>
        <li class="fragment"><em>Power macromodeling:</em> Extraction of interesting program traces for clustering/training</li>
        <li class="fragment"><em>Verification:</em> Extraction of traces for coverpoint/specification synthesis + state seeding for fuzzing</li>
      </ul>
    </li>
  </ul>
</section>
