<section class="center">
  <h2 class="center">1. Why: What Is the Problem?</h2>
  <ul>
    <li class="fragment">Emergence of domain-specialized heterogeneous SoCs</li>
    <li class="fragment">Rapid design iteration is the key to achiving optimal PPA + time to market</li>
    <li class="fragment">Existing pre-silicon evaluation (power, performance, functionality) techniques on real workloads are unsuitable for rapid iteration</li>
  </ul>
</section>

<section>
  <h2>The End of "Free" Technology Scaling</h2>

  <p class="center fragment"><strong>Moore's Law</strong>: transistor counts double while cost/transistor halves every 2 years</p>

  <div class="container fragment">
    <div>
      <img width="60%" src="./figs/quals/wafer_cost_trend.jpg" />
    </div>
    <div>
      <img width="60%" src="./figs/quals/per_transistor_cost_trend.png" />
    </div>
  </div>

  <ul class="small">
    <li class="fragment">Per-wafer and per-transistor costs continue to grow with process scaling<sup>[1, 2]</sup> unless heavily amortized</li>
  </ul>

  <p class="fragment center">{{ rightarrow }} Transistors are no longer free</p>

  <div class="fragment">
  <hr>
  <div class="verysmall">
    <p class="footnote">
    [1]: {% include "figs/quals/wafer_cost_trend.jinja2" %}.<br/>
    [2]: {% include "figs/quals/per_transistor_cost_trend.jinja2" %}.
    </p>
  </div>
  </div>
</section>

<section>
  <h2>Stagnation of Single Thread Performance</h2>

  <p class="center fragment"><strong>Dennard Scaling</strong>: power density is constant with technology scaling</p>

  <div class="container fragment">
    <div>
      <img width="80%" src="./figs/quals/single_thread_performance_trend.png" />
    </div>
    <div>
      <img width="100%" src="./figs/quals/50_years_of_microprocessor_trend_data.png" />
    </div>
  </div>

  <ul class="small">
    <li class="fragment">General-purpose single-thread performance has stagnated<sup>[1,2]</sup></li>
  </ul>

  <p class="fragment center">{{ rightarrow }} Can't rely on technology scaling for gains in performance</p>

  <div class="fragment">
  <hr>
  <div class="verysmall">
    <p class="footnote">
    [1]: {% include "figs/quals/single_thread_performance_trend.jinja2" %}.<br/>
    [2]: {% include "figs/quals/50_years_of_microprocessor_trend_data.jinja2" %}.
    </p>
  </div>
  </div>
</section>

<section>
  <h2>The Consequences of These Trends</h2>

  <div class="container" style="text-align: center; grid-template-columns: 1fr 1fr;">
    <div class="fragment">
      <p style="margin-top: 0;"><strong>End of Moore's Law</strong></p>
      <p style="margin-top: 0;">{{ rightarrow }} $/transistor not falling</p>
      <p style="margin-top: 0;">{{ rightarrow }} Transistors are no longer free</p>
      <p style="margin-top: 0; margin-bottom: 0;">{{ rightarrow }} <strong>Need aggressive PPA optimization</strong></p>
    </div>
    <div class="fragment">
      <p style="margin-top: 0;"><strong>End of Dennard Scaling</strong></p>
      <p style="margin-top: 0;">{{ rightarrow }} Power density <em>increasing</em></p>
      <p style="margin-top: 0;">{{ rightarrow }} <em>GPP</em> performance stagnating</p>
      <p style="margin-top: 0; margin-bottom: 0;">{{ rightarrow }} <strong>Need domain-specialization to not stagnate</strong></p>
    </div>
  </div>

  <hr class="fragment">

  <p class="center fragment" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">Motivates two trends in SoC design</p>

  <ol>
    <li class="fragment">Heterogeneous cores
      <ul>
        <li>Cores targeting different power/performance curves</li>
        <li>Domain-specific cores</li>
        <li>Core-coupled accelerators (ISA extensions)</li>
      </ul>
    </li>
    <li class="fragment">Domain-specific accelerators</li>
  </ol>
  <!--<em>General-purpose</em> single thread performance is stagnating, but tuned cores still can squeeze a lot more out-->
</section>

<section>
  <h2>The New-Era of Domain-Specialized Heterogeneous SoCs</h2>
  <!-- Raptor Lake, Apple M3, Snapdragon 8 Gen 3, Exynos 2200 -->
  <!-- Server class, laptop class, smartphone class - similar heterogeneous convergence -->

  <div class="r-stack">
    <div class="fragment fade-in-then-out" style="display: grid; place-items: center;">
      <img width="100%" src="./figs/quals/raptor_lake.jpg">
      <figcaption class="small center">{% include "./figs/quals/raptor_lake.jinja2" %}</figcaption>
    </div>
    <div class="fragment fade-in-then-out" style="display: grid; place-items: center;">
      <img width="50%" src="./figs/quals/exynos_2200.jpg">
      <figcaption class="small center">{% include "./figs/quals/exynos_2200.jinja2" %}</figcaption>
    </div>
    <div class="fragment fade-in-then-out" style="display: grid; place-items: center;">
      <img width="80%" src="./figs/quals/a17_pro.jpg">
      <figcaption class="small center">{% include "./figs/quals/a17_pro.jinja2" %}</figcaption>
    </div>
    <div class="fragment fade-in-then-out" style="display: grid; place-items: center;">
      <img width="40%" src="./figs/quals/m3_max.jpg">
      <figcaption class="small center">{% include "./figs/quals/m3_max.jinja2" %}</figcaption>
    </div>
  </div>
</section>

<section>
  <h2>Specialized Core Microarchitectures</h2>

  <!-- Another point: Different CPUs have very different pipelines and designs based on power/perf tradeoff + workload tuning -->
  <!-- It is not just hardware parameter sweeping!!! -->
  <div class="container">
    <div>
      <img src="./figs/quals/cortex_a77_block_diagram.svg" />
      <figcaption class="small center">{% include "./figs/quals/cortex_a77_block_diagram.jinja2" %}</figcaption>
    </div>
    <div>
      <ul>
        <li class="fragment">Different CPUs in the same SoC aren't just variants of the same underlying microarchitecture
          <!--<ul>
            <li class="fragment">They have completely independent designs!</li>
            <li class="fragment">Hardware parameter space exploration is performed for a given microarchitectural blueprint</li>
            <li>
          </ul>-->
        </li>
        <li class="fragment">The broad categories of microarchitectural iteration
          <ol style="font-size: 1.2rem;">
            <li class="fragment">Creating a new structure (vector unit, prefetcher, new type of branch predictor)</li>
            <li class="fragment">Optimizing an existing structure (ROB dispatch latency, new forwarding path)</li>
            <li class="fragment">Tuning hardware parameters (cache hierarchy and sizing, LSU queue sizing)</li>
          </ol>
        </li>
        <li class="fragment">Must evaluate PPA <em>tradeoffs</em> of each modification on specific workloads</li>
        <!-- It's about tradeoffs on PPA on specific workloads! Not about optimizing some big function of HW parameters to PPA. -->
      </ul>
    </div>
  </div>
</section>

<section>
  <h2>Microarchitecture Design Challenges</h2>

  <div class="fragment" style="display: grid; place-items: center;">
    <img width="50%" src="./figs/quals/ibs_cost_per_node_trend.webp" />
    <figcaption class="small center">{% include "./figs/quals/ibs_cost_per_node_trend.jinja2" %}</figcaption>
  </div>

  <!-- Time limit! Need to spin as fast as possible during design phase and then freeze. Number of spins dictates how much performance can be squeezed out per generation! -->
  <!-- What is the challenge? pick specializations that are possible and evaluate them -->
  <!-- Optimizing real-world software pre-silicon is very hard -->

  <ul class="smallish" style="margin-top: 1rem;" >
    <li class="fragment">We want optimal designs for heterogeneous, domain-specialized, workload-tuned SoCs</li>
    <li class="fragment">Limited time to iterate on microarchitecture and <em>optimize PPA</em> on <em>real workloads</em></li>
    <li class="fragment">Time per evaluation (microarchitectural iteration loop) limits number of evaluations
    </li>
  </ul>
  <p class="center fragment">More evaluations = more opportunities for optimization</p>
</section>

<section>
  <h2>The Microarchitectural Iteration Loop</h2>

  

  <!-- Can't get all axes using any existing tool (low latency, high throughput, low cost, high accuracy, rich output collateral)! -->
  <p class="center fragment">Existing pre-silicon evaluation (power, performance, functionality) techniques on real workloads are unsuitable for rapid iteration</p>
</section>

<section>
  <h2>Pre-Silicon Microarchitecture Simulation</h2>

  <table style="width: 100%; font-size:90%;">
    <thead><tr>
      <th></th>
      <th>Throughput</th>
      <th>Latency</th>
      <th>Fidelity</th>
    </tr></thead>
    <tbody><tr class="fragment">
      <td>ISA Simulation</td>
      <td class="bg-green">10-100+ MIPS</td>
      <td class="bg-green">&lt;1 second</td>
      <td class="bg-red">None</td>
    </tr>
    <tr class="fragment">
      <td>μArch Perf Sim</td>
      <td class="bg-orange">100 KIPS (gem5)</td>
      <td class="bg-green">5-10 seconds</td>
      <td class="bg-orange">5-10% avg IPC error</td>
    </tr>
    <tr class="fragment">
      <td>RTL Simulation</td>
      <td class="bg-red">1-10 KIPS</td>
      <td class="bg-orange">5-10 minutes</td>
      <td class="bg-green">cycle-exact</td>
    </tr>
    <tr class="fragment">
      <td>FireSim (FPGA)</td>
      <td class="bg-green">1-50 MIPS</td>
      <td class="bg-red">2-6 hours</td>
      <td class="bg-green">cycle-exact</td>
    </tr>
    <tr class="fragment">
      <td><strong>TidalSim</strong></td>
      <td class="bg-green">100+ MIPS</td>
      <td class="bg-green">&lt;1 minute</td>
      <td class="bg-green">&lt;1% error</td>
    </tr>
    </tbody>
  </table>

  <ul>
    <li class="fragment"><em>Performance estimation:</em> Impact of μArch optimizations / HW parameters on real workloads</li>
    <li class="fragment"><em>Power macromodeling:</em> Identification of important netlist nodes in power model + traces for training</li>
    <li class="fragment"><em>Verification:</em> Bootstrapping fuzzing loops + coverpoint synthesis</li>
  </ul>
</section>
