{% extends "base/base.jinja2" %}

{# Logos shown on the left side #}
{% block header_left %}
  <a href="https://bwrc.eecs.berkeley.edu/"><img src="./figs/logos/bwrc_logo.png" alt="Berkeley Wireless Research Center"></a>
{% endblock %}

{# Logos shown on the right side #}
{% block header_right %}
{% endblock %}
