{% extends "base/base.jinja2" %}

{# HTML title #}
{% set webpage_title = "Chisel/Chipyard Demo + The Next Paradigm of SoC Design" %}
{# Short description #}
{% set description = "" %}
{# List of authors #}
{% set author = "Joonho Whangbo, Vighnesh Iyer" %}
{# Change ‘venue’ to a conference or workshop name if any #}
{% set venue = "LATTE 2024" %}
{# Publication info (hidden by default) #}
{% set pub_datetime_iso = "2024-04-29" %}
{% set pub_date = "April 29, 2024" %}

{# Custom styles and JS for a particular talk #}
{% block custom_head %}
{% endblock %}

{% block theme %}
import '/themes/tokyonight-night.scss'
import 'highlight.js/styles/tokyo-night-dark.css'
{% endblock %}

<!--
- Focus on the 'next paradigm shift' - this should be the topic of our talk
    - "The Next Paradigm Shift of Hardware and SoC Design Methodology"
    - At a high level, we need to make it clear that this is the *hardware designer* perspective (NOT the PL person perspective)
    - We should claim right away that we aren't PL people, so we are just proposing ideas from our side

- What is the current paradigm?
    - In terms of ergonomics, performance, agility, **beauty**, correctness
    - What can we do in the current paradigm? What are the limitations?

- old paradigm
    - wrt people, language, organization
    - language: json on top of macros on top of macros on top of rtl, single abstraction at a time, messy and ugly interop, custom hacks for silicon flow vs FPGA flow vs emulator flow
    - people: highly specialized, don't interact much, lots of people needed
    - organization: teams are separated by function rather than design block
    - tools: long iteration times, ugly APIs, build scripts on top of build scripts, everything is custom per company for no obvious reason (just historical in nature)
- new paradigm
    - ???

- What could be possible if we had magical tools?
    - What is the new paradigm?
    - What could the new paradigm enable that is hard or impossible now?

- How have we tried to move towards that paradigm in the past?
    - Here is where we discuss Chisel, FIRRTL, Firesim, Chipyard
    - We can go deep into Chipyard/Chisel for a small example of SoC design.
    - Then work from other groups (Calyx, Filament, SpinalHDL, HeteroCL, PyMTL)
    - Why haven't these moved us into the new paradigm yet? What is still difficult? What just isn't beautiful?

- What are the magical tools we would like to have?
    - Let this motivate the things we will discuss in the vision/proposal part of the talk
    - How do the magical tools allow us to move towards the new paradigm?

- Now comes the vision, we want to split it into a few sections
    - The frontend design language + the new design/verification/modeling methodology
        - Incremental-first
        - Mixed-abstraction for both design and modeling
        - Leveraging host-language type system for ...
    - The IR + the new simulation backends/synthesis backends that it enables to support the above methodology
        - Take inspiration from LNAST (graph native in-memory representation) + FIRRTL (in terms of passes and FireSim) + Circt dialects (the closest we have to mixed-abstraction today, but they don't support interaction semantics)
        - I think we need to think carefully about why existing IRs are not sufficient. We should come up with some points by talking to those who use Circt (Amelia / Kevin).
        - Also needs to support the same features as the frontend (incremental pass application, aggressive caching, mixed abstractions + semantics for their interaction, encoding of host language types to some degree for semantics preservation)
    - The SoC generator framework that can be built on top of these
    - The other tools that can be built (early fast PPA iteration, synthesis)
-->

{% block slides %}
<section class="center">
  <a href="https://revealjs.com">
    <img src="./figs/logos/slice_logo.png" style="height: 180px; margin: 0 auto 4rem auto;">
  </a>
  <h3>A Chisel / Chipyard Demo</h3>
  <h3 class="fragment">The Next Paradigm of Hardware and SoC Design</h3>
  <p>
    <small>Joonho Whangbo, Vighnesh Iyer, Bora Nikolic</small>
  </p>
</section>
{% endblock %}
