{% extends "base/base.jinja2" %}

{# HTML title #}
{% set webpage_title = "Vighnesh Iyer's Qualifying Exam - TidalSim: Multi-Level Microarchitectural Simulation and Applications in Verification" %}
{# Short description #}
{% set description = "A Unified Microarchitectural Simulation Framework to Identify and Leverage Unique Aspects of Workloads on Heterogeneous SoCs for Power and Performance Estimation and Verification" %}
{# List of authors #}
{% set author = "Vighnesh Iyer" %}
{# Change ‘venue’ to a conference or workshop name if any #}
{% set venue = "UC Berkeley (Jan 2024)" %}
{# Publication info (hidden by default) #}
{% set pub_datetime_iso = "2023-12-29" %}
{% set pub_date = "December 29, 2023" %}

{# Custom styles and JS for a particular talk #}
{% block custom_head %}
<style>
.reveal h2 {
  margin-top: 1rem !important;
}
.comparison_table {
  width: 100%;
  font-size: 60%;
  border-collapse: separate !important;
  thead > tr > th:first-child {
    border-right: 2px solid #222222;
  }
  tbody > tr > td:first-child {
    border-right: 2px solid #222222;
  }
}
</style>
{% endblock %}

{% block theme %}
import '/themes/remark-ish.scss'
import 'reveal.js/plugin/highlight/monokai.css'
{% endblock %}

{% set center = false %}

{% set rightarrow = "<strong>→</strong>" %}

{% block slides %}
<section class="center">
  <h1>TidalSim: A Unified Microarchitectural Simulation Framework</h1>
  <h2 style="font-weight: 400;">To Identify and Leverage <strong>Unique Aspects of Workloads</strong> on <strong>Heterogeneous SoCs</strong> for Performance Estimation and Verification</h2>
  <h3 style="font-weight: 500;">Vighnesh Iyer</h3>
  <h3 style="font-weight: normal;">Qualifying Exam Presentation</h3>
  <h4 style="font-weight: normal;">Wednesday, January 17th, 2024</h4>
</section>

<section>
  <h2>Talk Outline</h2>
  <ol>
    <li class="fragment"><strong>Why</strong>: What is the problem I'm solving?</li>
    <li class="fragment"><strong>What</strong>: What is the thing I want to build?</li>
    <li class="fragment"><strong>Prior work</strong> + <strong>what's new</strong> about my proposal?</li>
    <li class="fragment"><strong>How (pt 1)</strong>: A prototype implementation of my proposal</li>
    <li class="fragment"><strong>Case studies</strong> / <strong>applications</strong>: How will we use what we built to do something that was impossible before?</li>
    <li class="fragment"><strong>How (pt 2)</strong>: Addressing faults of and generalizing the prototype
      <ul style="font-size: 1.4rem;">
        <li>Each point roughly corresponds to a thesis chapter</li>
      </ul>
    </li>
    <li class="fragment"><strong>Thesis outline</strong> and paper plan</li>
  </ol>
</section>

<section>
{% include "talks/quals/why.jinja2" %}
</section>

<section>
{% include "talks/quals/what.jinja2" %}
</section>

<section>
{% include "talks/quals/background.jinja2" %}
</section>

<!-- these slides have been replaced by a single slide in the background section -->
<!--<section>
{# include "talks/quals/whats_new.jinja2" #}
</section>-->

<section>
{% include "talks/quals/how_pt1-tidalsim_v1.jinja2" %}
</section>

<section>
{% include "talks/quals/case_studies.jinja2" %}
</section>

{% include "talks/quals/how_pt2-tidalsim_v2.jinja2" %}

<section>
  <section class="center">
    <h2>7. Thesis Outline</h2>
  <!--This semester: v0.1 to v1
  Summer: v1 to v2 (improvements in next section)
  Next semester: Leverage v2 for case studies
  Spring 2025: Finish thesis writing + graduate-->
  </section>

  <section>
    <h2>Outline</h2>
    <ol class="small">
      <li class="fragment">Motivation and background</li>
      <li class="fragment">Implementation and evaluation of TidalSim v0.1
        <ul>
          <li>Mixed functional/RTL simulation, IPC/MPKI/cache behavior estimation</li>
          <li>Clean estimation on all baremetal workloads (MiBench, Embench)</li>
        </ul>
      </li>
      <li class="fragment">Implementation and evaluation of TidalSim v1
        <ul>
          <li>Functional warmup of all long-lived units</li>
          <li>Demonstrate &lt;1% IPC error</li>
        </ul>
      </li>
      <li class="fragment">Generalizing the spectrum of streaming sampled simulation
        <ul>
          <li>Formalization of sampled simulation</li>
          <li>Investigating binary-agnostic embeddings</li>
          <li>Running full-stack applications on top of an OS</li>
        </ul>
      </li>
      <li class="fragment">Validating functional warmup models
        <ul>
          <li>SimCommand, parametric stimulus generation APIs, parametric fuzzing</li>
          <li>Heuristics for comparing functional models and RTL uArch structures</li>
        </ul>
      </li>
    </ol>
  </section>

  <section>
    <h2>Outline (continued)</h2>

    <ol class="small" start=6>
      <li class="fragment">Dynamically switching between RTL and functional simulation for modeling time accurately
        <ul>
          <li>Time estimation fidelity, comparison to FireSim in modeling timer interrupts</li>
        </ul>
      </li>
      <li class="fragment">Sampled simulation for accelerators
        <ul>
          <li>New embeddings for code that uses accelerators</li>
        </ul>
      </li>
      <li class="fragment">Using TidalSim for hardware DSE
        <ul>
          <li>Language-level support for arch/uArch state marking and testharness synthesis</li>
          <li>Cache sizing/hierarchy case study to show superior DSE latency and accuracy vs other approaches</li>
        </ul>
      </li>
      <li class="fragment">Using TidalSim for coverpoint synthesis</li>
    </ol>
  </section>

  <section>
    <h2>Outline (condensed)</h2>
    <ol class="small">
      <li>Motivation and background</li>
      <li>Implementation and evaluation of TidalSim v0.1</li>
      <li>Implementation and evaluation of TidalSim v1</li>
      <li>Generalizing the spectrum of streaming sampled simulation</li>
      <li>Validating functional warmup models</li>
      <li>Dynamically switching between RTL and functional simulation for modeling time accurately</li>
      <li>Sampled simulation for accelerators</li>
      <li>Using TidalSim for hardware DSE</li>
      <li>Using TidalSim for coverpoint synthesis</li>
    </ol>

    <div class="center">
      <img width="50%" src="./figs/dynamic/tidalsim/uarch_iteration_flow_tidalsim.svg" />
    </div>
  </section>
</section>


<section data-visibility="hidden">
  <h2>Problem Overview</h2>

  <p class="center fragment">Fast RTL-level μArch simulation and performance metric / interesting trace extraction</p>
  <p class="center fragment"><em><strong>enables</strong></em></p>
  <p class="center fragment">Rapid RTL iteration with performance, power modeling, and verification evaluation on real workloads</p>
  <hr class="fragment">
  <p class="center fragment">How can we achieve high throughput, high fidelity, low latency μArch simulation with RTL-level interesting trace extraction?</p>
</section>

<section data-visibility="hidden">
  <h2>Motivation</h2>

  <ul>
    <li class="fragment">We want fast design iteration and evaluation of PPA + verification given real workloads
    <!--Fast design iteration and evaluation of PPA + verification requires stimulus that's representative and comprehensive wrt real workloads (execution fragments)-->
    </li>
    <li class="fragment">The enablers are: <em>fast and accurate μArch simulation</em> and a way to identify <em>unique execution fragments</em>
      <ul>
        <li class="fragment"><em>Performance estimation:</em> Performance metric extraction from fast RTL simulation</li>
        <li class="fragment"><em>Power macromodeling:</em> Extraction of interesting program traces for clustering/training</li>
        <li class="fragment"><em>Verification:</em> Extraction of traces for coverpoint/specification synthesis + state seeding for fuzzing</li>
      </ul>
    </li>
  </ul>
</section>

<section data-visibility="hidden">
  <h2>Pre-Silicon Microarchitecture Simulation</h2>

  <ul>
    <li class="fragment"><em>Performance estimation:</em> Impact of μArch optimizations / HW parameters on real workloads</li>
    <li class="fragment"><em>Power macromodeling:</em> Identification of important netlist nodes in power model + traces for training</li>
    <li class="fragment"><em>Verification:</em> Bootstrapping fuzzing loops + coverpoint synthesis</li>
  </ul>
</section>

<section data-visibility="hidden">
  <section>
    <h2>Performance Optimizations</h2>
    <ul>
      <li class="fragment">Currently two runs of the binary through spike are needed
      <ul>
        <li>One to get a commit log for basic block extraction, embedding, and clustering</li>
        <li>One more to dump arch checkpoints for chosen samples</li>
      </ul>
      </li>
      <li class="fragment">We can take regular checkpoints during the first execution to make arch checkpoint collection fast</li>
    </ul>
  </section>

  <section>
    <h2>Validation of State Injection</h2>
    <ul>
      <li class="fragment">There is no arch state comparison at the end of a checkpoint run in RTL simulation</li>
      <li class="fragment">We will standardize a arch state schema and dump a reference state from spike to check against</li>
    </ul>
  </section>

  <section>
    <h2>Handling Large Interval Lengths</h2>
    <ul>
      <li class="fragment">Real programs will use large intervals (1-10M instructions)</li>
      <li class="fragment">Selected intervals can't be run in their entirety in RTL simulation</li>
      <li class="fragment">Sub-sampling intervals with random sampling is required</li>
    </ul>
  </section>
</section>

<section data-visibility="hidden">
  <h2>Conclusion</h2>

  <div class="container" style="grid-template-columns: 1fr 1.4fr;">
  <div>
  <ul>
    <li class="fragment">We want rapid iteration wrt PPA evaluation and verification objectives</li>
    <li class="fragment">We need fast RTL-level simulation with trace extraction</li>
    <li class="fragment">We propose <strong>TidalSim</strong>, a multi-level simulation methodology to enable rapid HW iteration</li>
  </ul>
  </div>
  <div style="display:grid; align-content: center;">
    <img src="./figs/dynamic/tidalsim/overview.svg" />
  </div>
  </div>

  <p class="center fragment"><a href="https://github.com/euphoric-hardware/tidalsim">TidalSim (github.com/euphoric-hardware/tidalsim)</a></p>
</section>

{% endblock %}
