{% extends "base/base.jinja2" %}

{# HTML title #}
{% set webpage_title = "Natural vs Engineered Systems and Other Topics" %}
{# Short description #}
{% set description = "" %}
{# List of authors #}
{% set author = "Vighnesh Iyer" %}
{# Change ‘venue’ to a conference or workshop name if any #}
{% set venue = "Group Meeting" %}
{# Publication info (hidden by default) #}
{% set pub_datetime_iso = "2025-04-26" %}
{% set pub_date = "April 26, 2025" %}

{# Custom styles and JS for a particular talk #}
{% block custom_head %}
{% endblock %}

{% block theme %}
import '/themes/tokyonight-light.scss'
import 'highlight.js/styles/tokyo-night-dark.css'
{% endblock %}

{% set center = true %}

{% set rightarrow = "<strong>→</strong>" %}

{% block slides %}
<section class="center">
  <h2>Natural vs Engineered Systems</h2>
  <h2>When is ML Powerful?</h2>
  <h2>ML for Chip Design</h2>
  <p style="font-weight: normal; font-size: 0.8rem;">Vighnesh Iyer</p>

  <h4 style="font-weight: normal;">Group Meeting<br />
  Friday, May 2nd, 2025</h4>
</section>

<section>
  <section class="center">
    <h2>Natural vs Engineered Systems</h2>
    <p>My attempt at understanding the difference between <em>science</em> and <em>engineering</em> and how their worlds are bridged.</p>
    <p class="fragment"><strong>Why?</strong></p>
    <ol class="fragment">
      <li>Helps us understand what precisely is engineering research</li>
      <li>Gives us insights as to when ML is powerful and when its value is dubious</li>
    </ol>
  </section>

  <section>
    <h2 style="margin: 0">Natural Systems in General</h2>

    <div class="container" style="grid-template-columns: 1fr 1fr;">
      <div><img class="image" width="80%" src="./figs/natural_vs_engineered_systems/natural_systems.svg" /></div>
      <div>
        <ul>
          <li class="fragment">A natural system is defined by a set of axioms</li>
          <li class="fragment">The nature of natural axioms
            <ul>
              <li>If we can't know them, we can build approximate models for them</li>
              <li>If we assume them precisely, they will be incomplete</li>
            </ul>
          </li>
          <li class="fragment">A natural system produces "observations"
            <ul>
              <li>"Truth" and "facts" are inherent in a natural system</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h2 style="margin: 0">Natural Systems - Examples</h2>

    <div class="container" style="grid-template-columns: 1fr 1fr;">
      <div><img class="image" width="80%" src="./figs/natural_vs_engineered_systems/natural_systems.svg" /></div>
      <div>
        <ul>
          <li class="fragment">There are only two examples of <em>primordial</em> natural systems</li>
          <!-- https://chatgpt.com/share/680ea232-9694-8004-8912-78384d019c18 -->
        </ul>
        <ol>
          <li class="fragment">Our physical world</li>
          <li class="fragment">Concepts in pure mathematics
            <ul class="small">
              <li>Number theory (e.g. Peano arithmetic)</li>
              <li>Computation (e.g. Lambda calculus)</li>
              <li>Formal logic (e.g. First-order logic)</li>
              <li>Proof theory (e.g. Martin-Löf type theory)</li>
              <li>Set theory (e.g. ZFC)</li>
            </ul>
          </li>
        </ol>
        <p class="fragment smallish center">The <em>pure</em> study of natural systems is <em>theoretical</em> math / logic / physics / metaphysics / philosophy</p>
      </div>
    </div>
  </section>

  <section>
    <h2>Understanding Natural Systems</h2>
    <!--
    can't you tell I'm trying to unify physical science and abstract math, even though they don't really seem to fit together?
    - Oh, this is just the scientific method? Yes, obviously.
    - Godel's incompleteness theorem
      - Can't know everything from first principles
    - Heisenburg's uncertainty principle
      - Only can get approximate models, not the truth itself
    - Failure to explain various natural phenomena (see unanswered questions in physics)
    -->
    <div class="container" style="grid-template-columns: 1fr 1fr;">
      <div><img class="image" width="100%" src="./figs/natural_vs_engineered_systems/understanding_natural_systems.svg" /></div>
      <div>
        <ul>
          <li class="fragment">Can we ever fully comprehend a natural system?
            <ul><li><strong>No</strong>: Gödel's incompleteness theorems</li></ul>
          </li>
          <li class="fragment">Can we perfectly simulate a natural system?
            <ul><li><strong>No</strong>: Uncertainty principle</li></ul>
          </li>
          <li class="fragment">Do we fully understand the physical natural system?
            <ul><li><strong>No</strong>: <a href="https://en.wikipedia.org/wiki/Cosmological_constant_problem#Cosmological_constant_problem">Cosmological constant problem</a></li></ul>
          </li>

        </ul>
      </div>
    </div>
  </section>

  <section>
    <h2>Engineered Systems</h2>
  </section>

  <section>
    <h2>The Missing Middle</h2>

    What is biology?
  </section>

  <section>
    <h2>Evolved Systems</h2>
  </section>
</section>


<!-- In principle, ML for placement would be way better wrt runtime and QoR vs algorithmic / manual heuristic techniques -->
<!-- The major caveat to the bitter lesson. -->

{% endblock %}
