@use 'templates/slice/slice.scss' with ($style: "shaded");

@media print {
    header > aside {
        img {
            max-width: 215px;
        }
    }
}

html {
    font-size: 1.15rem
}
.container{
    display: grid;
    grid-auto-flow: column;
    column-gap: 1em;
}
th {
    border-bottom: 1px solid;
}
