{% extends "templates/slice/slice.jinja2" %}

{## Header ##}

{% set poster_title = "TidalSim: Multi-Level Sampled Simulation" %}
{# ‘poster_subtitle’ is optional; use "" to hide it #}
{% set poster_subtitle = "" %}
{# Change ‘venue’ to a conference or workshop name if any #}
{% set venue = "SLICE Summer 2024 Retreat" %}
{# ‘webpage_title’ is displayed in the browser’s top bar #}
{% set webpage_title = poster_title %}
{# ‘project_url’ is used in the footer and for the logo #}
{% set project_url = "https://github.com/euphoric-hardware/tidalsim" %}

{# Publication info is hidden by default (.publication-info in CSS) #}
{% set pub_datetime_iso = "2020-09-08" %}
{% set pub_date = "September 8, 2020" %}

{# Custom styles and JS for a particular poster #}
{% block custom_head %}
{% endblock %}

{% block fonts %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Fira+Sans+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
{% endblock %}

{% block authors %}
  {# Put authors here, with one link per author. #}
  <a property="author">Vighnesh Iyer</a>,
  <a property="author">Raghav Gupta</a>,
  <a property="author">Dhruv Vaish</a>,
  <a property="author">Charles Hong</a>,
  <a property="author">Young-Jin Park</a>,
  <a property="author">Sophia Shao</a>,
  <a property="author">Borivoje Nikolic</a>
{% endblock %}

{% block affiliations %}
  <a property="sourceOrganization">UC Berkeley</a>
{% endblock %}

{### Footer ##}

{% block footer_left %}
  <a href="{{ project_url }}">{{ project_url }}</a>
{% endblock %}

{% block footer_center %}
    {vighnesh.iyer,raghavgupta}@berkeley.edu
{% endblock %}

{% block footer_right %}
  <span class="credits">
    SLICE Retreat, Summer 2024
  </span>
{% endblock %}

{% set rightarrow = "<strong>→</strong>" %}

{### Contents ###}

{# Contents are individual boxes (typically ‘article’s or ‘figure’s).  Each
   ‘article’ contains a header and some contents. #}
{% block contents %}
<article>
  <header><h3>Microarchitectural Optimization</h3></header>
  <ul>
    <li class="fragment">We want optimal workload-tuned SoCs</li>
    <li class="fragment">Limited time to iterate on microarchitecture and <em>optimize PPA</em> on <em>real workloads</em></li>
    <li class="fragment">Time per evaluation limits number of evaluations</li>
  </ul>
  <p class="center fragment"><strong>More evaluations = more opportunities for optimization</strong></p>
</article>

<article style="display: none;">
  <header><h3>The Microarchitectural Iteration Loop</h3></header>

  <div class="center">
    <img src="./figs/dynamic/tidalsim/uarch_iteration_flow_v2.svg" />
  </div>
</article>

<article>
  <header><h3>Limtations of Existing Simulators</h3></header>
  <table class="comparison_table">
    <thead><tr>
      <th style="text-align: left;">Simulator</th>
      <th>Examples</th>
      <th>Throughput</th>
      <th>Latency</th>
      <th>Accuracy</th>
    </tr></thead>
    <tbody>
      <tr>
        <td>JIT-ed Sim</td>
        <td>KVM, qemu</td>
        <td class="bg-green">1-3 GIPS</td>
        <td class="bg-green">&lt;1 second</td>
        <td class="bg-red">None</td>
      </tr>
      <tr>
        <td>Arch Sim</td>
        <td>spike, dromajo</td>
        <td class="bg-green">10-100+ MIPS</td>
        <td class="bg-green">&lt;1 second</td>
        <td class="bg-red">None</td>
      </tr>
      <tr>
        <td>μArch Perf Sim</td>
        <td>gem5, Sniper, ZSim</td>
        <td class="bg-orange">100+ KIPS</td>
        <td class="bg-green">&lt;1 minute</td>
        <td class="bg-orange">10-50+% error</td>
      </tr>
      <tr>
        <td>Bespoke μArch Sim</td>
        <td>Industry models</td>
        <td class="bg-orange">100+ KIPS</td>
        <td class="bg-green">&lt;1 minute</td>
        <td class="bg-green">close (?)</td>
      </tr>
      <tr>
        <td>RTL Simulators</td>
        <td>Verilator, VCS</td>
        <td class="bg-red">1-10 KIPS</td>
        <td class="bg-orange">~minutes</td>
        <td class="bg-green">cycle-exact</td>
      </tr>
      <tr>
        <td>Emulator (FPGA)</td>
        <td>FireSim</td>
        <td class="bg-green">50 MIPS</td>
        <td class="bg-red">2-6 hours</td>
        <td class="bg-green">cycle-exact</td>
      </tr>
      <tr>
        <td>Emulator (ASIC)</td>
        <td>Palladium</td>
        <td class="bg-green">50 MIPS</td>
        <td class="bg-red">2-6 hours</td>
        <td class="bg-green">cycle-exact</td>
      </tr>
      <tr>
        <td>Sampled RTL Sim</td>
        <td><strong>TidalSim</strong></td>
        <td class="bg-green">10+ MIPS</td>
        <td class="bg-green">&lt;1 minute</td>
        <td class="bg-green">&lt;5% IPC error</td>
      </tr>
    </tbody>
  </table>

  <p class="center smallish">No existing simulator can deliver high throughput, low startup latency, high accuracy, and low cost</p>
</article>

<article>
  <header><h3>The Vision for TidalSim</h3></header>
  <img src="./figs/dynamic/tidalsim/uarch_iteration_flow_tidalsim.svg" />
  <!--<figcaption class="small center">A fast, accurate, low latency, low cost simulation methodology that produces RTL-level collateral for performance and power estimation and verification on real workloads.</figcaption>-->
</article>

<article>
  <header><h3>Sampled Simulation</h3></header>
  <img class="center" style="width: 80%;" src="./figs/multi-level-sim/sampled_simulation.png" />

  <ul>
    <li>The workload is represented with <em>sampling units</em></li>
    <li>Only run <em>sampling units</em> in detailed simulation
      <ul>
        <li>Run the rest of the workload in functional simulation</li>
      </ul>
    </li>
  </ul>
</article>

<article>
  <header><h3>Representative Sampling</h3></header>
  <div style="display:grid; grid-template-columns: 1fr 1fr">
    <img style="display:grid;" src="./figs/multi-level-sim/simpoint-gzip_phases.gif" />
    <!--<img style="display:grid;" width="100%" src="./figs/multi-level-sim/sampled_simulation.png" />-->
    <ul style="display:grid; font-size:90%; align-content: center;">
      <li>A workload goes through <em style="text-decoration:underline;">phases</em> that exhibit similar μArch behavior</li>
      <li>Pick snippets of each phase as <em>sampling units</em></li>
      <!--<li>Only execute unique intervals in performance simulation! Extrapolate to a full trace.</li>-->
    </ul>
  </div>
</article>

<article>
  <header><h3>RTL-Level Sampled Simulation</h3></header>
  <div style="display: grid; grid-template-columns: 1fr 1.4fr">
    <div style="display: grid; align-content: center; margin-right: 0.25rem;">
      <ul>
        <!--<li>Use <strong>RTL simulation</strong></li>-->
        <li><strong>Eliminate</strong> modeling errors</li>
        <li><strong>Eliminate</strong> need for model corrlation</li>
        <li><strong>Enable</strong> RTL-first design methodology</li>
      </ul>
    </div>
    <img style="display: grid;" src="./figs/dynamic/tidalsim/why_rtl.svg" />
  </div>
  <!--<ul>
    <li>No performance model correlation error</li>
    <li>Can derive accurate PPA numbers</li>
    <li>Leverage waveforms from RTL simulation</li>
  </ul>-->
</article>

<article>
  <header><h3>Overview of Sampled Simulation Flow</h3></header>
  <img class="fragment" src="./figs/dynamic/tidalsim/overview.svg"/>
</article>

<article>
  <header><h3>Simulation Methodology Details</h3></header>
  <ul>
    <li>SimPoint-style representative sampling
      <ul>
        <li>Chunk trace into fixed-length (N) intervals</li>
        <li>Compute basic block vector (BBV) embedding</li>
        <li>k-means clustering to pick sampling units</li>
      </ul>
    </li>
    <li>Take arch checkpoints for each sampling unit from spike</li>
    <li>Inject each checkpoint in parallel in RTL simulation</li>
    <li>IPC trace reconstruction from interval clustering</li>
  </ul>
</article>

<article>
  <header><h3>Summary of Results</h3></header>
  <ul class="smallish">
    <li><strong>RTL</strong>: Default Rocket config with L1</li>
    <li><strong>Workloads</strong>: Embench, Coremark</li>
    <li><strong>Runtime</strong>: Tidalsim (<strong>10s</strong>), VCS (<strong>5-30 mins</strong>)</li>
    <li><strong>Accuracy</strong>: Typical IPC error <strong>under 5%</strong></li>
  </ul>
</article>

<!--<article>
  <header><h3>Execution Trace Clustering</h3></header>

  <figure style="font-size:70%;">
    <img class="fragment" src="./figs/multi-level-sim/aha-mont64_clustering.svg"/>
    <figcaption>Heatmap of each cluster's centroid for aha-mont64 with 12 clusters and N = 1k</figcaption>
  </figure>
</article>-->

<!--<article>
  <header><h3>IPC Trace Reconstruction</h3></header>
  <figure style="font-size:70%;">
    <img class="fragment" src="./figs/multi-level-sim/aha-mont64_results.svg"/>
    <figcaption>Reconstructed IPC trace of aha-mont64 with 12 clusters and N = 1k</figcaption>
  </figure>

  <figure style="font-size:70%;">
    <img class="fragment" src="./figs/multi-level-sim/huffbench_results.svg"/>
    <figcaption>Reconstructed IPC trace of huffbench with 18 clusters and N = 10k</figcaption>
  </figure>
</article>-->

<article>
  <header><h3>Functional Warmup Flow</h3></header>
  <img src="./figs/dynamic/tidalsim/full_flow_detail.svg" />
  <p class="center">Cache snapshots are captured along with arch checkpoints; L1d restored in RTL simulation</p>
</article>

<article>
  <header><h3>Memory Timestamp Record</h3></header>
  <img src="./figs/dynamic/tidalsim/mtr_flow.svg" />
  <ul>
    <li>Cache snapshots are μArch agnostic</li>
    <li>Snapshots are turned into banked .bin files for L1d injection given concrete cache parameters</li>
  </ul>
</article>

<article>
  <header><h3>IPC Trace Reconstruction - Embench</h3></header>
  <p class="center red">TODO TODO: One smallish example e.g. wikisort / huffbench</p>
  <img src="./figs/multi-level-sim/aha-mont64_results.svg"/>
</article>

<article>
  <header><h3>IPC Trace Reconstruction - CoreMark</h3></header>
  <p class="center red">TODO TODO: One large example e.g. CoreMark</p>
  <img src="./figs/multi-level-sim/huffbench_results.svg"/>
</article>

<article>
  <header><h3>IPC Errors for Embench</h3></header>
  <p class="center red">TODO TODO: Bar plot of embench errors with and without fn warmup + runtime speedups</p>
  <figure width="50%" style="font-size:60%;">
    <img class="fragment" width="50%" src="./figs/multi-level-sim/embench_ipc_error.svg"/>
    <figcaption>Mean absolute IPC error</figcaption>
  </figure>
</article>

<article>
  <header><h3>Error Analysis</h3></header>

  <ul>
    <li>Small sampling intervals → sampling + functional/detailed warmup errors can be large</li>
    <li>Executing all intervals eliminates sampling error</li>
  </ul>

  <img style="margin:0;" src="./figs/dynamic/tidalsim-error/pure_injection.svg" />

  <ul>
    <li>Vary the amount and offset of detailed warmup to measure its impact</li>
  </ul>

  <img style="margin:0;" src="./figs/dynamic/tidalsim-error/detailed_warmup.svg" />
</article>

<!--<article>
  <header><h3>Cache Warmup</h3></header>
  <ul>
    <li>Cold long-lived μArch blocks such as cache-like modules and branch predictors are primarily responsible for IPC error v full RTL sim
    <li>Detailed warmup is too short to deal with long-lived μArch state
    <li>Need abstract and highly parametrizable models to enable DSE
    <li>For caches, we use Memory Timestamp Record - a data structure populated from a memory transaction trace used to handle cache state
  </ul>

  <figure style="font-size:60%;">
  <img class="fragment" src="./figs/dynamic/tidalsim/mtr_entry_update.svg"/>
  <figcaption>Updating entries in MTR</figcaption>
  </figure>

  <figure style="font-size:60%;">
  <img class="fragment" src="./figs/dynamic/tidalsim/mtr_reconstruction.svg"/>
  <figcaption>Cache reconstruction from MTR checkpoint</figcaption>
  </figure>
</article>-->

<!--<article>
  <header><h3>Cache Warmup</h3></header>
  <ul>
    <li>Cold long-lived μArch blocks such as cache-like modules and branch predictors are primarily responsible for IPC error v full RTL sim
    <li>Detailed warmup is too short to deal with long-lived μArch state
    <li>Need abstract and highly parametrizable models to enable DSE
    <li>For caches, we use Memory Timestamp Record - a data structure populated from a memory transaction trace used to handle cache state
  </ul>
  <figure style="font-size:60%;">
    <img class="fragment" src="./figs/dynamic/tidalsim/mtr_entry_update.svg"/>
    <figcaption>Updating entries in MTR</figcaption>
  </figure>
</article>-->

<!--<article>
  <header><h3>Next Steps/Future Work</h3></header>
  <ul>
  <li>Functional warmup
    <ul>
      <li>A general warmup methodology ingests a subset of a functional simulation log
      <li>Each unit needs a custom model, injection logic, and perf metric extraction
      <img class="fragment" src="./figs/dynamic/tidalsim/uarch_models.svg"/>
      <li>Implemnting for caches (integration in-progress), branch predictors (building on Branch Trace Compression), prefetchers (build our own model)
    </ul>
  </li>
  <li>Embedding-driven Extrapolation
  <li>Automatic selection of interval length and warmup period
  <li>Feedback from RTL sim to ISA sim
  </ul>
</article>-->

<!--<article>
  <header><h3>Functional Cache Warmup Model</h3></header>

  <p class="center">Memory Timestamp Record cache warmup model, supports many cache parameterizations from one memory trace (WIP)</p>

  <figure style="font-size:85%;">
    <img class="fragment" src="./figs/dynamic/tidalsim/mtr_entry_update.svg"/>
    <figcaption>Updating entries in MTR</figcaption>
  </figure>

  <figure style="font-size:85%;">
    <img class="fragment" src="./figs/dynamic/tidalsim/mtr_reconstruction.svg"/>
    <figcaption>Cache reconstruction from MTR checkpoint</figcaption>
  </figure>
</article>-->

<article>
  <header><h3>Next Steps</h3></header>
  <!--<ul>
    <li>Automatic selection of interval length and warmup period</li>
    <li>Integrating functional warmup models for caches</li>
    <li>Feedback from RTL sim to ISA sim to model timing-critical events (interrupts, timers)</li>
  </ul>-->
  <ul>
    <li>Streaming sampled simulation</li>
    <li>Better interval embeddings</li>
    <li>Generating the injection testharness</li>
  </ul>
</article>

{% endblock %}
