{% extends "templates/mit/mit.jinja2" %}

{## Header ##}

{% set poster_title = "Building your own HTML poster" %}
{# ‘poster_subtitle’ is optional; use "" to hide it #}
{% set poster_subtitle = "A tutorial on using this template to make your own posters" %}
{# Change ‘venue’ to a conference or workshop name if any #}
{% set venue = "Unpublished" %}
{# ‘webpage_title’ is displayed in the browser’s top bar #}
{% set webpage_title = poster_title + " — " + poster_subtitle %}
{# ‘project_url’ is used in the footer and for the logo #}
{% set project_url = "https://github.com/cpitclaudel/academic-poster-template" %}

{# Publication info is hidden by default (.publication-info in CSS) #}
{% set pub_datetime_iso = "2020-09-08" %}
{% set pub_date = "September 8, 2020" %}

{# Custom styles and JS for a particular poster #}
{% block custom_head %}
{% endblock %}

{% block authors %}
  {# Put authors here, with one link per author. #}
  <a property="author">Clément Pit-Claudel<sup>a</sup></a>,
  <a property="author">Vighnesh Iyer<sup>b</sup></a>
{% endblock %}

{% block affiliations %}
  <sup>a</sup><a property="sourceOrganization">MIT CSAIL</a>,
  <sup>b</sup><a property="sourceOrganization">UC Berkeley</a>
{% endblock %}

{### Footer ##}

{% block footer_left %}
  <address class="monospace" style="font-weight:400;">
    <a href="{{ project_url }}">{{ project_url }}</a>
  </address>
{% endblock %}

{% block footer_center %}
  <address class="monospace" style="font-weight:400;">
    clement.pitclaudel@live.com,
    vighnesh.iyer@berkeley.edu
  </address>
{% endblock %}

{% block footer_right %}
<span class="credits">
  Based on a <a href="https://github.com/vighneshiyer/publications/tree/master/posters">modified HTML poster template</a>.
</span>
{% endblock %}

{### Contents ###}

{# Contents are individual boxes (typically ‘article’s or ‘figure’s).  Each
   ‘article’ contains a header and some contents. #}
{% block contents %}
  <article property="abstract">
    {# Using <h3> inside the <header> makes the structure evident to screen readers #}
    <header><h3>Abstract</h3></header>

    <p>Most academic posters today are designed with Powerpoint/Keynote or Beamerposter.</p>

    <p>However, they aren't ideal when it comes to version control, collaboration, accessibility, and ease-of-use.</p>

    <p>HTML posters, on the other hand, are easy to template and version control, automatically reflow, support accessibility features (such as high contrast text and screen readers), are easy to style (with CSS), and can produce both web posters and PDFs.</p>
  </article>

  <article>
    <header><h3>Creating a Poster</h3></header>

    <p>The poster is a Jinja2 template, so you can inherit from it and fill in the relevant fields and the contents.</p>

    <ol>
      <li>Clone the <a href="https://github.com/vighneshiyer/publications/">GitHub repository</a></li>
      <li>Install the <a href="https://github.com/vighneshiyer/publications/tree/master/posters#setup">dependencies listed here</a></li>
      <li>Create a new poster by copying the tutorial template (<code>cd posters/posters && cp -r tutorial my-new-poster</code>)</li>
      <li>Add the poster to the <code>Makefile</code> (<code>$(eval $(call poster,my-new-poster,mit))</code>)
      <li>Launch a server by running <code>./scripts/serve</code></li>
      <li>Browse to <a href="http://localhost:5500/my-new-poster/">localhost:5500/my-new-poster</a></li>
      <li>Make changes in <code>my-new-poster/index.jinja2</code>, save them, and your browser will automatically load the changes</li>
    </ol>

    <b>The template for this tutorial (<code>index.jinja2</code>) includes documentation for each variable and block.</b>
  </article>

  <article>
    <header><h3>Poster layout</h3></header>

    <p>Posters made using this template are composed of a sequence of blocks.  You can use CSS to customize the way the blocks are designed; by default they scroll left to right on wide screens and top to bottom on narrow screens.</p>

    <b>Try resizing your browser to see how the poster's layout changes.</b>
  </article>

  <article>
    <header><h3>Block template</h3></header>

    <p>Each block has the following structure (fill in the italicized parts):</p>

    <pre>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article">article</a>&gt;
  &lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header">header</a>&gt;&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h">h3</a>&gt;<i>Block title</i>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/h3">h3</a>&gt;&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header">header</a>&gt;

  <i>Block contents:
    paragraphs (&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p">p</a>&gt;),
    figures (&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure">figure</a>&gt;),
    lists (&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul">ul</a>&gt;, &lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol">ol</a>&gt;),
    images (&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img">img</a>&gt;, &lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/object">object</a>&gt;),
    tables (&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table">table</a>&gt;), …</i>
&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article">article</a>&gt;</pre>
  </article>

  <article>
    <header><h3>Structural markup</h3></header>

    <p>The following markup is useful to structure content blocks:</p>
    <ul>
      <li>
        <code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p">p</a>&gt;</code>
        <p style="margin: 0">Paragraphs</p>
        <code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p">p</a>&gt;</code>
      </li>

      <li>
        <code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul">ul</a>&gt;</code>
        <ul>
          <li><code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li">li</a>&gt;</code>…<code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li">li</a>&gt;</code></li>
        </ul>
        <code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul">ul</a>&gt;</code> (Plain lists)
      </li>

      <li>
        <code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol">ol</a>&gt;</code>
        <ol>
          <li><code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li">li</a>&gt;</code>…<code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li">li</a>&gt;</code></li>
        </ol>
        <code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol">ol</a>&gt;</code> (Numbered lists)
      </li>

      <li>
        <code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/b">b</a>&gt;</code>
        <b>Call-outs (<i>alerts</i>)</b>
        <code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/b">b</a>&gt;</code>
      </li>
    </ul>
  </article>

  <article>
    <header><h3>Inline markup</h3></header>
      <ul>
        <li>
          <code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a">a</a> href="<var>url</var>"&gt;</code>
          <a href="url">Links</a>
          <code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a">a</a>&gt;</code>
        </li>

        <li>
          <code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em">em</a>&gt;</code>
          <em>Emphasized text</em>
          <code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em">em</a>&gt;</code>
        </li>

        <li>
          <code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong">strong</a>&gt;</code>
          <strong>Important text</strong>
          <code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong">strong</a>&gt;</code>
        </li>

        <li>
          <code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i">i</a>&gt;</code>
          <i>Scientific terms, foreign words</i>
          <code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i">i</a>&gt;</code>
        </li>

        <li>
          <code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/var">var</a>&gt;</code>
          <var>Math variables, placeholders</var>
          <code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/var">var</a>&gt;</code>
          </li>

        <li>
          <code>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code">code</a>&gt;</code>
          <code>Inline code snippets</code>
          <code>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code">code</a>&gt;</code>
        </li>
      </ul>

      <b>Not sure which one to use? Check out <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i">Mozilla's explanations</a>.  Using appropriate markup helps screen readers a lot.</b>
  </article>

  <article>
    <header><h3>Figures</h3></header>

    <p>Use the following code to insert a figure:</p>

    <pre>&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure">figure</a>&gt;
  <i>Figure contents:
    images (&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img">img</a>&gt;, &lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/object">object</a>&gt;),
    tables (&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table">table</a>&gt;),
    quotes, …</i>
  &lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption">figcaption</a>&gt;<i>Figure caption</i>&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption">figcaption</a>&gt;
&lt;/<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure">figure</a>&gt;</pre>

    <hr/>

    <figure>
      <img src="https://www.w3.org/html/logo/downloads/HTML5_Logo.svg" width="197" height="64" alt="An orange shield with a white 5 emblazoned on it and the letters HTML above it.">

      <figcaption>The HTML5 logo (<i>Source: <a href="https://www.w3.org/html/logo/">W3C</a></i>)</figcaption>
    </figure>
  </article>

  <article>
    <header><h3>Images</h3></header>

    <p>Use the following code to include an image:</p>

    <pre class="center-self">&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img">img</a> src="<var>source url</var>"
     alt="<var>image description</var>"&gt;</pre>

    <p>Prefer scalable images (SVG) for technical drawings and figures.</p>

    <small>Most technical drawing software supports saving as SVG; if yours does not, you can typically save to PDF, which can then easily be <a href="https://superuser.com/questions/381125/how-do-i-convert-an-svg-to-a-pdf-on-linux">converted to SVG</a> (this is useful for TikZ diagrams in particular).</small>

    <p>Make sure to include an <code>alt</code> attribute: it will be read by assistive technology and displayed while the image is loading.
    </p>
  </article>

  <article>
    <header><h3>Mathematics</h3></header>

    <p>This poster template loads <a href="https://www.mathjax.org/">MathJax</a> by default, so you can include inline math in backslash-parentheses <code>\( … \)</code> and display math in backslash-brackets <code>\[ … \]</code>:</p>

    <p class="center">\((\lambda x. e) v \downarrow e[x/v]\) (β-reduction)</p>

    \[\frac
      {\langle \mathtt{expr}, s\rangle \Downarrow v}
      {\langle \mathtt{var := expr}, s\rangle \downarrow s\left[\mathtt{var} \leftarrow v\right]}
     \small{\text{Assign}}\]

    <p>Using MathJax allows users of assistive technology to browse the equations.</p>
    </article>

  <article>
    <header><h3>Highlighted Code Blocks</h3></header>

    <p>This poster template loads <a href="https://highlightjs.org/">highlight.js</a> by default to highlight code blocks.</p>

    <pre class="center-self">&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre">pre</a>&gt;&lt;<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code">code</a> class="language-python"&gt;
  <var>code snippet</var>
  <var>...</var>
&lt;/code&gt;&lt;/pre&gt;</pre>
    <pre><code class="language-python">def fibonacci(num):
    nb1, nb2 = 0, 1
    for nbr in range(2, num+1):
        nb1, nb2 = nb2, nb1 + nb2
    return nb2</code></pre>
    <small>You can override the <code>highlightjs_theme</code> and <code>highlightjs_langs</code> blocks from <code>base/base.jinja2</code> to add support for more languages or change the styling</small>
  </article>

  <article>
    <header><h3>Additional styling</h3></header>

    <p>The template's stylesheet defines a few extra CSS classes:</p>

    <p class="boxed center"><code>.center</code><br/>
      (horizontally centered text)</p>

    <p class="boxed justify-center"><code>.justify-center</code><br/>
      (horizontally centered block)</p>

    <div class="boxed center">
      <div class="center columns" style="height: 3em">
        <code style="align-self: start">.columns-top</code>
        <code style="align-self: center">.columns-center</code>
        <code style="align-self: end">.columns-bottom</code>
      </div>
      <span>(columns)</span>
    </div>

    <small>To customize column widths, use <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns"><code>grid-template-columns</code></a>; for example, for 40%/60% widths, use the following snippet:
      <pre class="center">style="grid-template-columns: 40fr 60fr"</pre>
    </small>
  </article>

  <article>
    <header><h3>Poster Templates</h3></header>
    <p>Poster templates consist of a stylesheet (<code>.scss</code>) and HTML template (<code>.jinja2</code>) and are located in <code>templates</code>.</p>

    <p>To use a template, inherit its </code>scss</code> file from <code>index.scss</code> and its <code>jinja2</code> file from <code>index.jinja2</code>, and override any styles you want.</p>
  </article>

  <article>
    <header><h3>Generating PDFs</h3></header>

    <pre><code class="small language-bash">./scripts/pdf --url http://localhost:5500/tutorial \
--outputFile poster.pdf --width "40in" \
--height "30in" --scale 125</code></pre>
  </article>

  <figure>
    <img style="width: 70%" src="figs/logos/logo.svg" alt="Project logo" />
    <figcaption>A stand-alone figure to fill the remaining space.</figcaption>
  </figure>
{% endblock %}
